.header {
  height: 70px;
  background-color: #ffffff1a;
  backdrop-filter: blur(20px);
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 150px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.linkLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 64px;
  text-decoration: none;
}

.logoGif {
  padding-bottom: 10px;
}

.logoTextHeader {
  position: relative;
  font-family: var(--font-inter), sans-serif;
  color: #0a0000;
  font-size: 32px;
  font-weight: 700;
  margin-left: 52px;
  line-height: 1;
  text-shadow:
    -0.95px -0.95px 0 #ffb53f,
    0.95px -0.95px 0 #ffb53f,
    -0.95px 0.95px 0 #ffb53f,
    0.95px 0.95px 0 #ffb53f;
}

.logoTextHeader::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 54px;
  position: absolute;
  top: -24px;
  left: -43px;
  background-image: url("/img/fire.gif");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
}

.logoTextHeaderSpan {
  color: #e00d1d;
}

.navHeader {
  width: 500px;
}

.navElem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0em;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.navElem:hover,
.navElem:active,
.btnBack:hover,
.btnBack:active {
  color: #e00d1d;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 54px;
  width: 500px;
}

.navItem {
  height: 48px;
  display: flex;
}

.navElem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0em;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.navElem:hover,
.navElem:active,
.btnBack:hover,
.btnBack:active{
    color: #E00D1D;
}



.btnHeader {
  height: 50px;
  width: 230px;
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  background-image: url("/img/btn_fire_background.png");
  background-size: 231px 105px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-inter), sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #000000;
  text-shadow:
    -0.59px -0.59px 0 #ffb53f,
    0.59px -0.59px 0 #ffb53f,
    -0.59px 0.59px 0 #ffb53f,
    0.59px 0.59px 0 #ffb53f;
  transition: all 0.3s ease;
}

.btnHeader:hover,
.btnHeader:active {
  color: #ffffff;
  text-shadow:
    -0.59px -0.59px 0 #000000,
    0.59px -0.59px 0 #000000,
    -0.59px 0.59px 0 #000000,
    0.59px 0.59px 0 #000000;
}

.btnText {
  text-transform: uppercase;
  margin-right: 5px;
}

.btnText::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 41px;
  position: absolute;
  top: -5px;
  left: 186px;
  background-image: url("/img/fire.gif");
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
}

.btnBack {
  margin-left: 16px;
  transition: all 0.3s ease;
}

/* .header {
  height: 70px;
  background-color: #ffffff1a;
  backdrop-filter: blur(20px);
}

.container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  padding: 0 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.linkLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 64px;
  text-decoration: none;
}

.logoGif {
  padding-bottom: 17px;
}

.logoTextHeader {
  font-family: var(--font-inter), sans-serif;
  color: #0a0000;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  text-shadow:
    -0.95px -0.95px 0 #ffb53f,
    0.95px -0.95px 0 #ffb53f,
    -0.95px 0.95px 0 #ffb53f,
    0.95px 0.95px 0 #ffb53f;
}

.logoTextHeaderSpan {
  color: #e00d1d;
}

.navHeader{
  width: 500px;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 54px;
}

.navItem {
  height: 48px;
  display: flex;
}

.navElem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0em;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}

.navElem:hover,
.navElem:active,
.btnBack:hover,
.btnBack:active{
    color: #E00D1D;
}


.btnHeader {
  height: 50px;
  width: 230px;
  position: relative;
  border: none;
  border-radius: 8px;
  padding: 0;
  cursor: pointer;
  background-image: url("/img/btn_fire_background.png");
  background-size: 231px 105px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-inter), sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  color: #000000;
  text-shadow:
    -0.59px -0.59px 0 #ffb53f,
    0.59px -0.59px 0 #ffb53f,
    -0.59px 0.59px 0 #ffb53f,
    0.59px 0.59px 0 #ffb53f;
  transition: all 0.3s ease;
}

.btnHeader:hover,
.btnHeader:active{
    color: #ffffff;
      text-shadow:
    -0.59px -0.59px 0 #000000,
    0.59px -0.59px 0 #000000,
    -0.59px 0.59px 0 #000000,
    0.59px 0.59px 0 #000000;
}

.btnText{
    text-transform: uppercase;
    margin-right: 5px;
}


.btnBack{
  margin-left: 16px;
  transition: all 0.3s ease;
}
 */
