.sticker {
  padding: 60px 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 150px;
}

.stickerWrapper {
  padding: 40px;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.stickerTitle {
  color: #ffffff;
  text-transform: uppercase;
  font-family: var(--font-cera-stencil), sans-serif;
  font-weight: 900;
  font-style: Black;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 0;
}

.stickerImage {
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  margin-bottom: 80px;
}

.stickerText {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-style: Black;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.stickerTextBold {
  font-weight: 700;
}

.stickerInfo {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 80px;
}

.stickerImageLogo {
  margin-bottom: 52px;
}

.product {
  background-color: #ffffff1a;
  backdrop-filter: blur(15px);
  border-radius: 25px;
  padding: 40px 30px;
}

.productTitle {
  text-transform: uppercase;
  color: #ffffff;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 45px;
}

.productList {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 25px 0;
  justify-content: space-between;
  margin-bottom: 45px;
}

.productItem {
  width: 450px;
  background-color: #ffffff1a;
  border-radius: 8px;
  padding: 25px 10px;
  text-align: left;
}

.productName,
.productValue {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.28;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 35px;
}

.productNameRed{
  color: #E00D1D;
}

.productDescription{
    font-family: var(--font-roboto), sans-serif;
  font-weight: 200;
  font-size: 28px;
  line-height: 1.28;
  letter-spacing: 0.em;
  color: #FFFFFFCC;
  margin: 0;
}
