
.instructions {
  padding: 175px 100px;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 150px;
}

.title {
  color: #fff;
  margin: 0px 0px 93px 0px;
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
}

.instructionsList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 93px;
}
