.arguments {
  padding-top: 32px;
  padding-bottom: 45px;
  position: relative;
}

.fireImage {
  width: 100vw;
  height: 620px;
  object-fit: contain;
  z-index: 0;
  position: absolute;
  top: 618px;
  left: -6px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}

.title {
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  color: #e00d1d;
  margin: 0;
  margin-bottom: 32px;
}

.list {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 36px;
  justify-content: space-around;
  align-items: flex-start;
}

.item {
  width: 500px;
  padding: 26px 15px;
  border-radius: 25px;
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 1;
}

.list li:nth-child(2) {
  height: 476px;
}

.number {
  font-family: "Cera Stencil PRO Trial Medium";
  font-style: Medium;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  padding-left: 38px;
  padding-bottom: 2px;
  padding-top: 0px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(224, 13, 29);
  margin: 0;
}

.itemTitle {
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 15px;
}

.text {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #b3b3b3;
  margin: 0px;
}

.additionalList {
  list-style: disc;
  padding-left: 35px;
  color: #b3b3b3;
}
