.choice {
  padding-top: 45px;
  padding-bottom: 62px;
  scroll-margin-top: 75px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 150px;
}

.title {
  font-family: "Cera Stencil PRO";
  font-weight: 900;
  font-style: Black;
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 95px;
}

.productList {
  display: flex;
  flex-direction: row;
  gap: 57px;
}

.productItem {
  width: 350px;
  padding: 24px 15px;
  border-radius: 25px;
  box-shadow:
    0px 1px 2px -1px rgba(0, 0, 0, 0.1),
    0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column; 
}

.productTitle {
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #e00d1d;
  margin: 0px;
  margin-bottom: 22px;
}

.productName {
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  margin: 0px;
  margin-bottom: 15px;
}

.productNameLogo {
  color: #e00d1d;
  margin-right: 10px;
}

.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productDescription {
  width: 144px;
  padding-top: 15px;
  padding-left: 15px;
}

.descriptionName {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0px;
}

.descriptionList {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0px;
  list-style-type: disc;
}

.descriptionItemText {
  margin: 0px;
}

.productImage {
  width: 164px;
  height: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.productImage img {
  display: block;
  max-height: 100%;
  height: auto;
  width: auto;
}

.classText {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0;
  color: #ffffff;
  margin: 0px;
}

.classes {
  margin-bottom: 22px;
}

.textPrice {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: auto;
  margin-bottom: 0px;
}


.textPriceExchange{
  font-family: var(--font-roboto), sans-serif;
font-weight: 200;
font-size: 16px;
line-height: 1;
letter-spacing: 0;
text-align: center;
color: #A599AB;
margin-bottom: 0px;
margin-top: 22px;
}


