.video {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #0A0000;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.videoWrapper {
  width: 100%;
  max-width: 288px;   
  aspect-ratio: 16/9;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
}

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

@media (min-width: 1440px) {
.video {
  padding-top: 29px;
  padding-bottom: 60px;
  background-color: #0A0000;
}

.container {
  margin: 0 auto;
  padding: 0 150px;
}

  .videoWrapper {
    max-width: 1140px;
    aspect-ratio: 16/9;
  }

.videoWrapper iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  border-radius: 40px;
  border: 1px solid #ffffff;
}
}